html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #212f45;
  color: #2ec4b6;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#header {
  padding: 50px 0;
  margin: 50px;
  border-bottom: 1px solid #bde0fe;
}

input {
  font: inherit;
  border: none;
  border-bottom: 1px solid #bde0fe;
  background-color: #212f45;
  color: #cbf3f0;
  margin: 0 10px 0px;
  padding-bottom: 10px;
}

.add-btn {
  font: inherit;
  font-size: 20px;
  margin: 0 0;
  background-color: #2ec4b6;
  color: #cbf3f0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#my-suffix {
  font: inherit;
  position: absolute;
  left: 0px;
  top: 3px;
  padding-left: 13px;
}

.invisible {
  opacity: 0%;
}

input:focus {
  outline: none;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 68px;
  font-weight: 900;
}

.header h3 {
  color: #cbf3f0;
  margin: 0 10px; 
}

  
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    background-color: rgb(60, 42, 161);
}
  
td {
    text-align: center;
}
  
tr:nth-child(even) td {
    background-color: #212f45;
}
  
tr:nth-child(odd) td {
    background-color: #213a63;
}
  
caption {
    padding: 10px;
}

.tables-div {
    display: flex;
    gap: 100px;
    margin: 40px 0;
}

#my-input-container {
  display: inline-block;
  position: relative;
  font: 40px 'Montserrat', sans-serif;
  margin: 0 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}