html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #212f45;
  color: #2ec4b6;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#header {
  padding: 50px 0;
  margin: 50px;
  border-bottom: 1px solid #bde0fe;
}

input {
  font: inherit;
  border: none;
  border-bottom: 1px solid #bde0fe;
  background-color: #212f45;
  color: #cbf3f0;
  margin: 0 10px 0px;
  padding-bottom: 10px;
}

.add-btn {
  font: inherit;
  font-size: 20px;
  margin: 0 0;
  background-color: #2ec4b6;
  color: #cbf3f0;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#my-suffix {
  font: inherit;
  position: absolute;
  left: 0px;
  top: 3px;
  padding-left: 13px;
}

.invisible {
  opacity: 0%;
}

input:focus {
  outline: none;
}

h1 {
  margin: 0 0 20px 0;
  font-size: 68px;
  font-weight: 900;
}

.header h3 {
  color: #cbf3f0;
  margin: 0 10px; 
}

  
table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}
  
th {
    background-color: rgb(60, 42, 161);
}
  
td {
    text-align: center;
}
  
tr:nth-child(even) td {
    background-color: #212f45;
}
  
tr:nth-child(odd) td {
    background-color: #213a63;
}
  
caption {
    padding: 10px;
}

.tables-div {
    display: flex;
    gap: 100px;
    margin: 40px 0;
}

#my-input-container {
  display: inline-block;
  position: relative;
  font: 40px 'Montserrat', sans-serif;
  margin: 0 20px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* styling lable */
.toggle {
  --width: 80px;
  --height: calc(var(--width) / 3);

  position: relative;
  display: block;
  margin: 20px auto 0;
  width: var(--width);
  height: var(--height);
  box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.3);
  border-radius: var(--height);
  cursor: pointer;
}

/* hiding checkbox */
.toggle input {
  display: none;
}


.toggle input:checked + .slider::before {
  transform: translateX(calc(var(--width) - var(--height)));
}

.toggle .labels {
  font: inherit;
  position: absolute;
  top: 5px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* font-size: 12px; */
  transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
  content: attr(data-off);
  position: absolute;
  right: 5px;
  color: #4d4d4d;
  opacity: 1;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
  content: attr(data-on);
  position: absolute;
  left: 5px;
  color: #ffffff;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
  transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
  opacity: 0;
}

.toggle input:checked~.labels::before {
  opacity: 1;
}